/* Universal Selectors */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
html, body 
{
	min-height: 100vh;
    background: radial-gradient(#ACD9F5, #4E9BC7);
    line-height: 1.3;
    overflow-x: hidden;
}
:root 
{
    --primary: #4E9BC7;
    --secondary: #ACD9F5;
    --tertiary: #DE4945;
    --light: #fff;
}

/* Header */
header 
{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    z-index: 10000;
}
header .logo 
{
    display: inline-block;
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
    text-decoration: none;
    color: var(--light)
}
header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
header ul li 
{
    list-style: none;
    margin-left: 10px;
}
header ul li a 
{
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    color: var(--light);
}
header ul li a:hover
{
    text-decoration: none;
    background-color: var(--light);
    color: var(--primary);
}

/* Section */
section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#clouds-bg 
{
    z-index: 8;
}
section img#clouds-left 
{
    margin-left: -180px;
    z-index: 9;
}
section img#clouds-right 
{
    z-index: 9;
}
section img#clouds-front 
{
    z-index: 10;
}
section img#clouds-plane 
{
    z-index: 7;
}
section img#plane 
{
    z-index: 7;
}
#cta 
{
    position: absolute;
    color: var(--primary);
    white-space: nowrap;
    font-family: 'Berkshire Swash', cursive;
    font-size: 5em;
    letter-spacing: 1px;
    z-index: 8;
}
#btn 
{
    text-decoration: none;
    display: inline-block;
    padding: 9px 42px;
    border-radius: 20px;
    background-color: var(--primary);
    font-size: 1.2em;
    color: var(--light);
    z-index: 8;
    transform: translateY(90px);
}
.sec 
{
    position: relative;
    padding: 100px;
    background: var(--light);
}
.sec h2 
{
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--tertiary);
}
.sec p 
{
    font-size: 1em;
    color: var(--primary);
}
.sec #clouds-invert
{
    position: absolute;
    padding-top: 50px;
    margin-top: 350px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 11;
}

/* Main */
main 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
}
main h2
{
    padding-top: 120px;
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 15px;
}
.item
{
    transition: .3s ease-in-out;
}
.item:hover
{
    filter: brightness(70%);
}

/* Contact Information */
.contact
{
    position: relative;
    padding: 0px 100px;
}
.contact ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.contact ul li 
{
    list-style: none;
    margin-left: 10px;
}
.contact ul li a 
{
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    color: var(--light);
}
.contact ul li a:hover
{
    text-decoration: none;
    background-color: var(--light);
    color: var(--primary);
}

/* Footer */
footer 
{
    padding: 5px;
    width: 100%;
}
footer h3 
{
    font-size: 1.3em;
    text-align: center;
    color: var(--secondary);
}
footer p 
{
    font-size: .9em;
    text-align: center;
    color: var(--secondary);
}